<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>My favorite restaurant</title>
  </head>
  <body>
    <h1></h1>

    <form action="/cuisine" method="post">
      <input id="" name="" type="hidden" value="@Model">
      <label for="type">Add a cuisine:</label>
      <input id="type" name="type" type="text">
      <button type="submit">Add this amazing cuisine</button>
    </form>
    <a href="/cuisine">Back to cuisines</a>
    <a href="/">Back to home</a>
  </body>
</html> -->
