<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Big Dreams, Big Hair Salon</title>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
    <link rel='stylesheet' href='~/css/styles.css' type="text/css">
    <title>Big Dreams, Big Hair Salon</title>
  </head>
  <body class="container">
    <h1 class="headline">Big Dreams, <br> Big Hair Salon</h1>
    <!-- goes to /stylists page that displays all stylists -->
    <form action="/stylists" method="post">
      <input id="" name="" type="hidden" value="@Model">
      <label for="name">Add a stylist:</label>
      <input id="name" name="name" type="text">
      <label for="specialty">Add their specialty:</label>
      <input id="specialty" name="specialty" type="text">
      <button type="submit" class="btn btn-dark">Add my talented stylist</button>
    </form>
    <button type="button" class="btn btn-dark" id="buttons"><a href="/stylists">View stylists</a></button>
    <button type="button" class="btn btn-dark" id="buttons"><a href="/">Back to home</a></button>
  </body>
</html>
