@using HairSalon.Models

<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Big Dreams, Big Hair Salon</title>
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
  <link rel='stylesheet' href='~/css/styles.css' type="text/css">
</head>
<body>
  <div class="container">

      <h1>Big Dreams, Big Hair Salon</h1>
      <em>See your selected stylist and their details here:</em>
      <h5>@Model["stylists"].Name</h5>
      <h6>Specialty: @Model["stylists"].Specialty</h6>
      <h6>Client list:</h6>
    <ol>
    @if (Model["clients"].Count == 0)
    {
      <p>Please add a client.</p>
    }
    @if(Model["clients"].Count != 0)
    {
      <p>Clients:</p>
      @foreach (var client in @Model["clients"])
      {
        <li>
          @Model["clients"].Name
        </li>
      }
    }
    </ol>
    <a href="/stylists/@Model["stylists"].Id/clients/new">Add a new client</a><br><br>
    <a href="/stylists">Return to stylist list</a>
    <a href="/">Return to homepage</a>
  </div>
</body>
</html>
