@using HairSalon.Models

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset='utf-8'>
    <title>Big Dreams, Big Hair Salon</title>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
    <link rel='stylesheet' href='~/css/styles.css' type="text/css">
  </head>
  <body>
    <h1 class="headline">Big Dreams, <br> Big Hair Salon</h1>
    <div class="container">
      <h2>View all specialties at this salon:</h2>
      list of specialties

    </div>
  </body>
</html>
