body {
  /* background-image: linear-gradient(to right, #f4428f, #e5e110); */
  background-image: url("/img/bighair02.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: serif;
  text-align: center;
}

.headline {
  font-family: 'Abril Fatface', cursive;
  font-size: 75px;
  padding-top: 40px;
  color: #b1b2b5;
}

#buttons {
  margin: 20px;
}
