<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset='utf-8'>
    <title>Big Dreams, Big Hair Salon</title>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
    <link rel='stylesheet' href='~/css/styles.css' type="text/css">
  </head>
  <body>
    <h1 class="headline">Big Dreams, <br> Big Hair Salon</h1>
    <div class="container">
      <h2>Welcome!</h2>
      <p>Manage your employees and clients here.</p>
      <button type="button" class="btn btn-dark"><a href="/stylists/new">Add stylists and specialties</a></button>
      <button type="button" class="btn btn-dark"><a href="/stylists">View stylists</a></button>
      <button type="button" class="btn btn-dark"><a href="/specialties">View specialties</a></button>
      <button type="button" class="btn btn-dark"><a href="/clients">View all clients</a></button>
    </div>
  </body>
</html>
