<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset='utf-8'>
    <title>Big Dreams, Big Hair Salon</title>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
    <link rel='stylesheet' href='~/css/styles.css' type="text/css">
  </head>
  <body>
    <h1>Big Dreams, Big Hair Salon</h1>
    <h2>Welcome!</h2>
    <p>Manage your employees and clients here.</p>
    <a href="/stylists/new">Add stylists</a>
    <br>
    <a href="/stylists">View stylists</a>
  </body>
</html>
