<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Big Dreams, Big Hair Salon</title>
  </head>
  <body>
    <h1>Big Dreams, Big Hair Salon</h1>
    <h2>Welcome! Manage your employees and clients here.</h2>
    <p>Begin here:</p>
    <a href="/stylists/new">Add stylists</a>
    <a href="/stylists">View stylists</a>
  </body>
</html>
