@using HairSalon.Models

<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Big Dreams, Big Hair Salon</title>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='~/css/styles.css' type="text/css">
  </head>
  <body>
    <div class="container">
    <h1 class="headline">Big Dreams, <br> Big Hair Salon</h1>

    <h3>Edit your client here</h3>

    <p><a href="/" class="btn btn-dark">Back to home</a></p>
  </div>
</body>
</html>
