@using HairSalon.Models

<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Big Dreams, Big Hair Salon</title>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
    <link rel='stylesheet' href='~/css/styles.css' type="text/css">
  </head>
  <body>
    <h1>New Client:</h1>
    <h3>Add a new client for <strong>@Model["stylists"].Name</strong></h3>
    <p>@Model["clients"].Name</p>

    <ul>
    @if (Model.Count == 0)
    {
      <p>Please add a client.</p>
    }
    @if(Model.Count != 0)
    {
      @foreach (Client client in Model)
      {
        <li><a href="/clients/@client.Id">@client.Name</a></li>
      }
    }
    </ul>


    <a href="/stylists/@Model["stylist"].Id">Back to @Model["stylist"].Id</a>
    <a href="/stylists">All stylists</a>

  </body>
</html>
