@using HairSalon.Models

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
    <link rel='stylesheet' href='~/css/styles.css' type="text/css">
    <title>Big Dreams, Big Hair Salon</title>
  </head>
  <body>
    <h2>@Model["clients"].Name</h2>


  </body>
</html>
