@using HairSalon.Models
<!-- url: stylists/stylistId/clients/clientId -->

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='~/css/styles.css' type="text/css">
    <title>Big Dreams, Big Hair Salon</title>
  </head>
  <body class="container">
    <h1 class="headline">Big Dreams, <br> Big Hair Salon</h1>
    <h2>This is a client of <b>@Model["stylist"].Name</b>:</h2>
      <h3>@Model["client"].ClientName</h3>
        <button type="button" class="btn btn-light" id="buttons"><a href="/stylists/@Model["stylist"].Id/clients/@Model["client"].Id/edit>Edit this client</a></button>

      <form action="/stylists/@Model["stylist"].Id/clients/@Model["client"].Id/delete" method="post">
        <button type="submit" class="btn btn-light" id="buttons">Delete this client</button>
      </form>
    <div class="footer">
      <button type="button" class="btn btn-dark" id="buttons"><a href="/stylists/@Model["stylist"].Name">Back to @Model["stylist"].Name</a></button>
      <button type="button" class="btn btn-dark" id="buttons"><a href="/stylists">Back to all stylists</a></button>
    </div>
  </body>
</html>
